@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:300,400,700');



/* cleanups + flexbox basics*/

.flex {
display: flex;
flex-wrap: wrap;
}

.flex-center {
align-items: center;
justify-content: center;
}

.flex-align-center {
align-items: center;
}

.flex-justify-center {
justify-content: center;
}

.flex-vert {
flex-direction: column;
}

.flex-end-justify {
justify-content: flex-end;
}

.flex-end-content {
align-content: flex-end;
}

.flex-end-items {
align-items: flex-end;
}

.flex-between-justify {
justify-content: space-between;
}




* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

a {
text-decoration: none;
color: black;
}

ul {
list-style-type: none;
}

li, a, p {
font-family: 'Roboto', sans-serif;
font-weight: 300;
}

h1, h2, h3 {
font-family: 'Arima Madurai', cursive;
}

hr {
margin: 50px 0;
border: 0;
height: 1px;
background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

main {
position: relative;
margin: 0 auto;
}

.active-page {
text-decoration: underline;
font-weight: 400;
}

.down-arrow {
width: 25px;
height: 25px;
border: solid #181818;
border-width: 0 2px 2px 0;
margin: 0 auto;
}

#home-paragraph-holder h1, #home-paragraph-holder p, #home-slideshow-holder, #main-home .down-arrow, 
#main-statement h1, #main-statement article section, #main-statement hr,
#main-cv section h2, #main-cv section ul {
animation-iteration-count: 1;
animation-timing-function: cubic-bezier(0.23,0.12,0.31,0.78);
animation-fill-mode: forwards;
animation-duration: 1.5s;
opacity: 0;
}

/* cleanups + flexbox basics end*/








/* navbar */

header {
position: fixed;
background-color: hsla(0,0%,100%,0.85);
max-height: 120px;
height: 10vh;
width: 100vw;
z-index: 99;
}

nav {
background-color: #fff;
width: 100%;
}

nav ul li {
padding-right: 30px;
}

nav ul li a:hover {
opacity: 0.66;
transition: opacity 0.5s ease-in-out;
}

nav ul li:nth-child(1)  {
flex-basis: 40vw;
}

nav ul li:last-of-type {
display: none;
}

nav ul li:nth-child(1) a {
font-family: 'Arima Madurai', cursive;
font-size: 3rem;
}

nav ul li:not(:nth-child(1)) a {
font-size: 1rem;
}

/* home page nav only */

#home-header nav ul li {
opacity: 0;
}

#home-header nav ul li:nth-child(1) {
animation-name: fadeIn;
animation-iteration-count: 1;
animation-timing-function: cubic-bezier(0.23,0.12,0.31,0.78);
animation-fill-mode: forwards;
animation-duration: 1.5s;
animation-delay: 0.35s;
}

#home-header nav ul li:not(:nth-child(1)) {
animation-name: slideDown;
animation-iteration-count: 1;
animation-timing-function: cubic-bezier(0.23,0.12,0.31,0.78);
animation-fill-mode: forwards;
animation-duration: 1s;
}

#home-header nav ul li:nth-child(2) {
animation-delay: 3.25s;
}

#home-header nav ul li:nth-child(3) {
animation-delay: 3.5s;
}

#home-header nav ul li:nth-child(4) {
animation-delay: 3.75s;
}

#home-header nav ul li:nth-child(5) {
animation-delay: 4s;
}

#home-header nav ul li:nth-child(6) {
animation-delay: 4.25s;
}

/* navbar end */









/* home page */

#main-home {
position: relative;
top: 5vh;
padding: 0 50px;
}

#main-home section:first-of-type {
height: 90vh;
min-height: 500px;
margin-left: -15vw;
}

#home-paragraph-holder {
width: 40%;
max-width: 480px;
margin-right: -15vw;
z-index: 2;
}

#home-slideshow-holder {
z-index: 1;
width: 100%;
max-width: 500px;
min-height: 400px;
height: 50vh;
max-height: 640px;
animation-name: slideFromRight;
animation-delay: 4s;
}

#home-paragraph-holder h1, #home-paragraph-holder p {
animation-name: slideFromLeft;
}

#home-slideshow-holder img {
width: 768px;
height: auto;
border-radius: 5px 100px;
box-shadow: 16px 16px 32px rgba(0, 0, 0, .4);
}

#home-paragraph-holder h1 {
font-family: 'Arima Madurai', cursive;
font-size: 5rem;
line-height: 5rem;
font-weight: 300;
animation-delay: 2.5s;
}

#home-paragraph-holder p {
padding-top: 20px;
line-height: 1.8rem;
min-width: 180px;
width: 40%;
max-width: 320px;
animation-delay: 5.5s;
}

#main-home .down-arrow {
animation-name: slideDownArrow;
animation-delay: 7s;
}

#main-home section:nth-of-type(2) {
max-width: 70vw;
margin: 0 auto;
justify-content: space-around;
}

#main-home section:nth-of-type(2) figure {
width: 260px;
height: 260px;
background: grey;
margin: 10px;
}

/* home page end */










/* statement page start */

#main-statement {
top: 20vh;
max-width: 70vw;
}

#main-statement article {
padding-bottom: 180px;
}

#main-statement h1 {
font-size: 4rem;
font-weight: normal;
text-align: right;
line-height: 4.8rem;
padding: 0 60px 30px 0;
max-width: 380px;
animation-name: slideFromLeft;
animation-delay: .65s;
}

#main-statement hr {
animation-name: fadeIn;
animation-delay: 1.65s;
}

#main-statement article section {
padding: 15px 0;
animation-name: slideUp;
animation-delay: .65s;
}

#main-statement article section:first-of-type {
padding-top: 100px;
}

#main-statement article section:first-of-type p::first-letter {
font-size: 2rem;
}

#main-statement article section p {
font-size: 1.2rem;
line-height: 1.8rem;
max-width: 500px;
padding-bottom: 15px;
}

/* statement page end */











/* gallery page start */

#main-gallery {
position: relative;
top: 20vh;
max-width: 70vw;
margin: 0 auto;
justify-content: space-around;
}

#main-gallery section {
padding: 30px 0 60px 0;
}

#main-gallery section figure {
width: 260px;
height: 260px;
background: grey;
margin: 10px;
}

#main-gallery section:nth-of-type(2) figure {
border-radius: 50%;
}

/* gallery page end */













/* cv page start */

#main-cv {
position: relative;
top: 15vh;
padding: 50px 10px;
max-width: 65vw;
}

#main-cv section h2 {
padding-right: 45px;
font-size: 2.4rem;
font-weight: 400;
animation-name: fadeIn;
animation-delay: 2.25s;
}

#main-cv section {
padding-bottom: 50px;
display: flex;
justify-content: flex-end;
}

#main-cv section ul {
padding-top: 20px;
animation-name: slideUp;
animation-delay: 1s;
}

#main-cv section li {
padding-bottom: 20px;
max-width: 400px;
display: flex;
font-size: 1.1rem;
line-height: 1.5rem;
}

#main-cv section li span:first-of-type {
padding-right: 15px;
}

#main-cv section:last-of-type {
padding-bottom: 80px;
}

/* cv page end */







@media all and (max-width: 1400px) {
#home-paragraph-holder {
margin-right: -20vw;
}
	
#home-paragraph-holder h1 {
font-size: 3rem;
line-height: 3rem;
}
	
#home-slideshow-holder img {
width: 680px;
}
}


@media all and (max-width: 1300px) {
nav ul li:nth-child(1) {
flex-basis: 40%;
}

nav ul li {
padding-right: 25px;
}

nav ul li:nth-child(1) a {
font-size: 2.2rem;
}

#main-home section:first-of-type {
margin-left: 0;
}	
	
#home-slideshow-holder img {
width: 600px;
}
	
#main-statement {
max-width: 80vw;
}
}


@media all and (max-width: 1100px) {
nav ul li {
padding-right: 15px;
}

nav ul li:nth-child(1) a {
font-size: 1.8rem;
}
	
nav ul li:not(:nth-child(1)) a {
font-size: 0.9rem;
}

#home-slideshow-holder img {
width: 540px;
}

#main-statement {
top: 100px;
}	

#main-statement h1 {
max-width: none;
padding: 0;
text-align: center;
font-size: 3.4rem;
line-height: 3.4rem;
}
	
#main-statement article section p {
font-size: 1.1rem;
line-height: 1.5rem;
}
}


@media all and (max-width: 780px) {
nav {
width: 100%;
}

nav ul li:not(:nth-child(1)) a {
font-size: 0.8rem;
}

#main-home section:first-of-type {
align-content: center;
height: auto;
padding-top: 10vh;
}	
	
#home-paragraph-holder {
order: 2;
width: 80%;
margin-right: 0;
padding-top: 20px;
display: flex;
justify-content: center;
align-items: center;
}

#home-paragraph-holder h1 {
font-size: 3rem;
line-height: 3rem;
min-width: 60%;
}

#home-paragraph-holder p {
padding-top: 10px;
line-height: 1.4rem;
min-width: 60%;
width: 60%;
}
	
#home-slideshow-holder {
order: 1;
height: auto;
}
}


@media all and (max-width: 650px) {
header {
overflow-y: visible;
max-height: 60px;
align-items: flex-start !important;
}

nav ul {
background: white;
justify-content: space-around !important;
}

#nav-expanded ul li {
display: block;
}
	
nav ul li:nth-child(1) {
flex-basis: auto;
padding-left: 10px;
}

nav ul li:nth-child(1) a {
font-size: 1.4rem;
}
	
nav ul li:not(:nth-child(1)) a {
font-size: 1rem;
}	

nav ul li:not(:nth-child(1)) {
display: none;
order: 2;
}

nav ul li:nth-child(2),
nav ul li:nth-child(3),
nav ul li:nth-child(4),
nav ul li:nth-child(5),
nav ul li:nth-child(6) {
width: 100%;
padding-top: 10px;
}

nav ul li:nth-child(2) a,
nav ul li:nth-child(3) a,
nav ul li:nth-child(4) a,
nav ul li:nth-child(5) a,
nav ul li:nth-child(6) a {
display: block;
text-align: center;
}

nav ul li:last-of-type {
display: block;
order: 1;
}
	
nav ul li:last-of-type a {
display: block;
font-size: 0.8rem;
}

#home-header nav ul li:nth-child(2),
#home-header nav ul li:nth-child(3),
#home-header nav ul li:nth-child(4),
#home-header nav ul li:nth-child(5),
#home-header nav ul li:nth-child(6) {
animation: none;
opacity: 1;
}
	
#home-header nav ul li:last-of-type {
animation-name: fadeIn;
animation-iteration-count: 1;
animation-timing-function: cubic-bezier(0.23,0.12,0.31,0.78);
animation-fill-mode: forwards;
animation-duration: 1.5s;
animation-delay: 1s;
}
	
#main-home {
padding: 5px;
}

#home-paragraph-holder {
width: 100%;
padding: 10px;
}
	
#home-paragraph-holder h1 {
font-size: 2.2rem;
line-height: 2.2rem;
animation-name: fadeIn;
animation-delay: 2s;
}

#home-paragraph-holder p {
width: 100%;
animation-name: fadeIn;
animation-delay: 2.5s;
}
	
#home-slideshow-holder {
animation-name: fadeIn;
animation-delay: 1s;
}

#main-statement h1, #main-statement article section {

}	
	
#main-statement h1 {
font-size: 3rem;
line-height: 3rem;
animation-name: fadeIn;
}
	
#main-statement article section p {
font-size: 1rem;
line-height: 1.4rem;
}

#main-statement article section:first-of-type {
padding-top: 50px;
}
}


@media all and (max-width: 480px) {
#main-home section:first-of-type {
padding-top: 0;
}

#home-paragraph-holder h1 {
font-size: 1.8rem;
line-height: 1.8rem;
}	

#home-paragraph-holder p {
text-align: center;
}	

#home-slideshow-holder {
animation-name: fadeIn;
min-height: 320px;
}
	
#home-slideshow-holder img {
box-shadow: none;
border-radius: 5px 5px 5px 5px;
width: 100%;
}

#main-statement {
max-width: 90vw;
}
}


@media all and (max-width: 380px) {
#home-slideshow-holder {
min-height: 250px;
}
}











@keyframes fadeIn {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}

@keyframes slideDown {
0% {
opacity: 0;
transform: translateY(-50px);
}
100% {
opacity: 1;
transform: translateY(0px);
}
}

@keyframes slideDownArrow {
0% {
opacity: 0;
transform: translateY(-50px);
}
100% {
opacity: 1;
transform: translateY(0px);
transform: rotate(45deg);
}
}

@keyframes slideUp {
0% {
opacity: 0;
transform: translateY(50px);
}
100% {
opacity: 1;
transform: translateY(0px);
}
}

@keyframes slideFromLeft {
0% {
opacity: 0;
transform: translateX(-50px);
}
100% {
opacity: 1;
transform: translateX(0px);
}
}

@keyframes slideFromRight {
0% {
opacity: 0;
transform: translateX(50px);
}
100% {
opacity: 1;
transform: translateX(0px);
}
}